{% load static %}
<!DOCTYPE html>
<html lang="en">


{% include 'global/partials/_head.html' %}


<title>Pages / Not Found 404 - NiceAdmin Bootstrap Template</title>

<body>

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <a class="btn" href="{% url 'main:homepage' %}">Back to home</a>
        <img src="{% static 'global/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
        
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'global/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'global/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'global/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'global/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'global/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'global/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'global/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'global/js/main.js' %}"></script>

</body>

</html>