
{% if page_obj %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&q={{ request.GET.q.strip }}" tabindex="-2" aria-disabled="false">Início</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}" tabindex="-1" aria-disabled="false">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-2" aria-disabled="true">Início</a>
                </li>
                <li class="page-item disabled">

                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">   {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}      </a></li>
            {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}">Próximo</a>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}">Fim</a>
            {% else %}
                <li class="page-item disabled"> <a class="page-link" href="#">Próximo</a>
                <li class="page-item disabled"> <a class="page-link" href="#">Fim</a>
            {% endif %}


            

        </li>
        </ul>
  {% endif %}
